<%= render "expense_module/layout/nav_list" %>

<div class="expense_container">
  <h2 class="expense_category_title">支出カテゴリー編集</h2>

  <%= render 'form', expense_category: @expense_category %>
</div>
