<header class="expense_header">
  <div class="expense_header_left">
    <%= link_to "支出管理くん", expense_module_home_index_path %>
  </div>

  <div class="expense_header_right">
    <%= link_to "Webアプリへ", root_path %>
  </div>

  <div class="arugo_kun_icon">
    <div class="arugo_kun_message">
      <%= image_tag "Vector" %>
    </div>

    <div class="arugo_kun">
      <%= image_tag "arugokun" %>
    </div>
  </div>
</header>